@font-face {
	font-family: 'Pokemon Hollow';
	src: url('./Pokemon_Hollow.ttf') format('TrueType');
}

h1 {
	font-family: 'Pokemon Hollow';
}

.swal2-popup .swal2-content {
	font-size: 2em !important;
}
